<div style="display: flex; width: 100%; justify-content: center;">
  <nav style="width: 100%; max-width: 500px; position: relative; aspect-ratio: 1/1; display: grid; grid-template-areas: 'superior superior' 'inferior-izquierdo inferior-derecho'; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, 1fr); overflow: hidden; border-radius: 50%;">
    <a style="overflow: hidden; grid-area: superior;" data-orientation="superior" href="#">
      <img
        alt="nav"
        style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; object-position: top; height: 100%; transform: scale(1); transition: .3s ease-in-out;"
        src="https://github.com/haderman/rosa/blob/main/assets/hero-nav-superior.jpeg?raw=true"
      />
    </a>
    <a data-orientation="inferior-izquierdo" href="#" style="overflow: hidden; grid-area: inferior-izquierdo; z-index: 1; transform-origin: 110% 110%; background-color: blanchedalmond;">
      <img
        alt="nav"
        style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; object-position: left; height: 100%; transform: scale(1); transition: .3s ease-in-out; object-position: left;"
        src="https://github.com/haderman/rosa/blob/main/assets/hero-nav-inferior-izquierdo.jpeg?raw=true"
      />
    </a>
    <a data-orientation="inferior-derecho" href="#" style="overflow: hidden; grid-area: inferior-derecho; z-index: 1; transform-origin: -10% 110%; background-color: cornsilk;">
      <img
        alt="nav"
        style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; object-position: left; height: 100%; transform: scale(1); transition: .3s ease-in-out; object-position: left;"
        src="https://github.com/haderman/rosa/blob/main/assets/hero-nav-inferior-derecho.jpeg?raw=true"
      />
    </a>
  </nav>
</div>
