:root {
  --background: white;
  --border-radius-nav-item: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--rosa-page-background);
}

/*  Custom CSS
----------------------------------------------- */

/* MARK: ROOT */
:root {
  --rosa-page-background: white;
  --rosa-footer-color: #be9955;
  --rosa-text-color: black;
  --rosa-max-width: 1200px;
}

/* MARK: GLOBAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  color: var(--rosa-text-color);
}

ul,
ol {
  list-style: none;
}

a,
p,
q,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  color: inherit;
}

a,
p,
span {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#rosa-container {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  min-height: 100%;
}

/* MARK: HEADER */
#rosa-header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding: 10px;
}

#rosa-header img {
  height: 100%;
}

#rosa-header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#rosa-header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

/* MARK: HERO */
.rosa-hero {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rosa-hero > div {
  flex: 1;
}

.rosa-hero > div:first-child {
  text-wrap: pretty;
  max-width: 30ch;
  line-height: normal;
}

/* MARK: HERO QUOTE */
.rosa-hero-quote {
  position: relative;
  font-size: 1.5rem;
}

.rosa-hero-quote img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -50%);
}

.rosa-hero-quote img:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg) translate(-50%, -50%);
}

.rosa-hero-quote q::before {
  content: "";
}

.rosa-hero-quote q::after {
  content: "";
}

/* MARK: HERO NAV */
.rosa-circular-nav {
  position: relative;
  width: 32vw;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.rosa-circular-nav::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--rosa-page-background);
}

.rosa-circular-nav a {
  overflow: hidden;
}

.rosa-circular-nav img {
  width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

a[data-orientation="top-left"] {
  grid-area: top-left;
  border-radius: var(--border-radius-nav-item) 0 0 0;
  transform-origin: 110% 110%;
  background-color: blanchedalmond;
}

a[data-orientation="top-left"] div {
  background-image: url('https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg');
}

a[data-orientation="top-right"] {
  grid-area: top-right;
  border-radius: 0 var(--border-radius-nav-item) 0 0;
  transform-origin: -10% 110%;
  background-color: cornsilk;
}

a[data-orientation="top-right"] div {
  background-image: url('https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg');
}

a[data-orientation="bottom-left"] {
  grid-area: bottom-left;
  border-radius: 0 0 0 var(--border-radius-nav-item);
  transform-origin: 110% -10%;
  background-color: floralwhite;
}

a[data-orientation="bottom-left"] div {
  background-image: url('https://farm7.staticflickr.com/6092/6227418584_d5883b0948.jpg');
}

a[data-orientation="bottom-right"] {
  grid-area: bottom-right;
  border-radius: 0 0 var(--border-radius-nav-item) 0;
  transform-origin: -10% -10%;
  background-color: gainsboro;
}

a[data-orientation="bottom-right"] div {
  background-image: url('https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg');
}

.rosa-aside-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.rosa-aside-container aside {
  max-width: 1000px;
}

/* MARK: FOOTER */
.rosa-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--rosa-footer-color);
  font-size: 0.8rem;
}

.rosa-footer ul {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 2rem;
  flex-wrap: wrap;
}

.rosa-footer-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rosa-footer-item ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  list-style-type: disc;
  list-style-position: inside;
}

.rosa-footer-item img {
  height: 48px;
  width: auto;
}

img.rosa-footer-logo {
  height: 48px;
  width: 48px;
}

